body {
    background-color: #f8f9fa;
  }
  
  .calculator {
    width: 300px; /* Ancho de la calculadora */
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #34495e; /* Color de fondo de la calculadora */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center; /* Centramos el contenido */
  }
  
  .display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    border: none;
    outline: none;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .row {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Alineación de los elementos en el centro */
  }
  
  .btn {
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    margin: 2px;
  }
  
  .btn-primary {
    background-color: #3498db;
    border-color: #3498db;
  }
  
  .btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
  }
  
  .btn-secondary {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
  
  .btn-secondary:hover {
    background-color: #27ae60;
    border-color: #27ae60;
  }
  
  .btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
  }
  
  .btn-danger:hover {
    background-color: #c0392b;
    border-color: #c0392b;
  }
  
  h1 {
    text-align: center;
    color: #34495e; /* Color del texto del título */
  }
  